html, body{
    margin: 0;
    padding: 0;
    font-family: sans-serif, "Microsoft YaHei", "Arial Narrow";
    font-size: 14px;
    background: #fff;
}

ul, ol {
    list-style: none;
}
input, button {
    outline: none;
    -webkit-appearance: none;
}

#root {
    width: 500px;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    background: #f2eeeb;
    box-shadow: 2px 2px 50px #f2eeeb;
}
